body {
  background-color: #e1e0df;
}
.main-layout {
  border-radius: 5px;
  padding: 10px 10px;
  background-color: #aacff3;

  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.left-section {
  width: 45%;
}

.right-section {
  width: 45%;
}
