.MusicList {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.music .title {
  flex: 1;
  padding: 20px;
}

.music .artist {
  flex: 1;
  padding: 20px;
}